<!DOCTYPE html>
<html>
<head>
  <title>ForumDemo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<%= render :partial => "common/user_nav" %>
<%= yield %>

</body>
</html>
